AZURE_SUBSCRIPTION_ID=
AZURE_TENANT_ID=

EMAIL_ENDPOINT=https://e404.india.communication.azure.com
EMAIL_SENDER_ADDRESS=DoNotReply@meindev.com
TEAM_INBOX_ADDRESS=sundram.sontirkey@nathcorp.com

AZURE_CLIENT_ID=
AZURE_TENANT_ID=
AZURE_CLIENT_SECRET= 